<app-question (sendQuestion)="addToList($event)"></app-question>

<div class="card">
  <h6 *ngFor="let item of listOfItems, let id = index" class="row">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="list">{{item['question']}}</span>
        <span class="example-spacer"></span>
        <button id="likebutton" mat-icon-button color="warn" (click)="getLike(item['likeBoolean'], id)" class="example-icon">
          <mat-icon>favorite</mat-icon>
          <span id="numberoflikes">{{item['likes']}}</span></button>
      </mat-toolbar-row>
    </mat-toolbar>
  </h6>
</div>


