/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body{ height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  position: relative;
  width: 50vw;
  margin: 100px auto;
}
.questions  {
  position: relative;
  display: inline-block;
  width: 50vw;
  margin: 0 auto;
}
.likes {
  position: relative;
  display: inline-block;

}

