/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body{ height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  position: relative;
  width: 50vw;
  margin: 100px auto;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.list {
  white-space: pre-line;
}
mat-toolbar-row {
  height: 100% !important;
  align-items: flex-start !important;
}
/*.row {*/
/*  display: flex;*/
/*  position: relative;*/
/*  justify-content: space-between;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.questions  {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  max-width: 30vw;*/
/*}*/
/*.likes {*/
/*  position: relative;*/
/*  display: inline-block;*/

/*}*/

